.input-group-append button{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.label-table-dialog{
    font-weight:bold;
    display:block;
    padding-left:5px;
}
.trow-table-dialog:hover {
    background-color: #888888;
}
.table-scroller-sm {
    height: 250px;
    max-height: 250px;
    overflow: auto;
}
.table-scroller-md{
    height:300px;
    max-height:300px;
    overflow:auto;
}
.table-scroller-lg {
    height: 500px;
    max-height: 500px;
    overflow: auto;
}
.w-20{
    width:20% !important;
}
.w-30{
    width:30% !important;
}
.w-40{
    width: 40% !important;
}
.w-50{
    width:50% !important;
}
.w-10{
    width:10% !important;
}
.w-25{
    width:25% !important;
}
.w-15{
    width:15% !important;
}
.w-16 {
    width: 16% !important;
}

.ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.aside-blue {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(left, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=1 ); /* IE6-9 */
}
.menu-link{
    font-weight:bold;
}
.menu-item .active, .menu-link:hover{
    background-color:#ff5c5c;
}
.bullet-dot{
    color:black;
}
.separator {
    border-color: black;
}
.plan-label{ width:100px !important; font-weight:bold; }
.hk-title-mobile {
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.table-hk-sm{
    font-size:x-small;
}
.table-hk-sm .btn {
    padding: 4px !important;
    min-height: 0px !important;
    font-size: x-small !important;
}
.table-hk-sm input {
    padding:2px !important;
    min-height: 0px !important;
    font-size:x-small !important;
}
.table-hk-sm td{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

/* MEDIUM TABLE */
.table-hk-md {
    font-size: medium;
    font-weight:bold !important;
}

.table-hk-md .btn {
    padding: 6px !important;
    min-height: 0px !important;
    font-size: small !important;
}

.table-hk-md input {
    padding: 2px !important;
    min-height: 0px !important;
    font-size: small !important;
}

.table-hk-md td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #ff5c5c !important;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}