@{
    ViewBag.Title = "Makine İzleme";
}

<div ng-controller="machineOnlineCtrl">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                 class="d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                    @ViewBag.Title
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Wrapper-->
            <div>
                <div class="d-flex flex-row">
                    <input type="text" class="form-control datepicker" ng-model="filterModel.startDate" placeholder="Başlangıç Tarihi" />
                    <input type="text" class="form-control datepicker mx-2" ng-model="filterModel.endDate" placeholder="Bitiş Tarihi" />

                    <button href="@Url.Action("List","Machine")" 
                            ng-click="bindModel()"
                            class="btn btn-sm btn-flex btn-light-primary btn-active-primary fw-bolder">
                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.25" d="M2 4C2 2.89543 2.89543 2 4 2H20C21.1046 2 22 2.89543 22 4V20C22 21.1046 21.1046 22 20 22H4C2.89543 22 2 21.1046 2 20V4Z" fill="#12131A" />
                                <path d="M6 5C5.44772 5 5 5.44772 5 6C5 6.55228 5.44771 7 6 7H16C16.5523 7 17 6.55228 17 6C17 5.44772 16.5523 5 16 5H6Z" fill="#12131A" />
                                <path d="M6 9C5.44772 9 5 9.44771 5 10C5 10.5523 5.44772 11 6 11H10C10.5523 11 11 10.5523 11 10C11 9.44771 10.5523 9 10 9H6Z" fill="#12131A" />
                                <path d="M6 13C5.44772 13 5 13.4477 5 14C5 14.5523 5.44772 15 6 15H18C18.5523 15 19 14.5523 19 14C19 13.4477 18.5523 13 18 13H6Z" fill="#12131A" />
                                <path d="M5 18C5 17.4477 5.44772 17 6 17H14C14.5523 17 15 17.4477 15 18C15 18.5523 14.5523 19 14 19H6C5.44772 19 5 18.5523 5 18Z" fill="#12131A" />
                            </svg>
                        </span>
                        Getir
                    </button>
                </div>
                
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Row-->
            <div class="row gy-5 gx-xl-8 bg-white">
                <!--begin::Col-->
                <div class="col-xxl-3 col-sm-3 col-md-3 px-2 py-0" ng-repeat="item in machineList">
                    <div class="rounded-1 py-1 bg-light-dark">
                        <div class="m-2 border-1 rounded-1">
                            <h4 class="text-center bg-secondary rounded px-2 py-2 border-1 border-dark">{{item.MachineName}}</h4>
                            <div class="active-plan text-center py-1 min-h-90px">
                                <h6 class="text-primary">Aktif Üretim</h6>
                                <p class="py-0 my-0 ellipsis-text" ng-show="item.ActivePlan.Id > 0">
                                    <b>Firma:</b> {{item.ActivePlan.WorkOrder.FirmName}}
                                </p>
                                <p class="py-0 my-0 ellipsis-text" ng-show="item.ActivePlan.Id > 0">
                                    <b>Ürün:</b> {{item.ActivePlan.WorkOrder.ProductName}}
                                </p>
                                <p class="py-0 my-0 ellipsis-text" ng-show="item.ActivePlan.Id > 0">
                                    Üretilen: <b>{{getFixed(item.ActivePlan.WorkOrder.CompleteQuantity,0)}}</b> /
                                    {{item.ActivePlan.WorkOrder.Quantity}}
                                </p>
                            </div>
                            <div class="general-avg text-center py-1">
                                <hr class="my-1" />
                                <h6 class="text-primary">Genel Ortalama</h6>
                                <p class="py-0 my-0">Ort Şişirme: <b>{{getFixed(item.MachineStats.AvgInflationTime,2)}}</b> sn</p>
                                <p class="py-0 my-0">Üretim: <b>{{item.MachineStats.AvgProductionCount}}</b> adet</p>
                                <div class="d-flex flex-row">
                                    <div class="py-0 my-1 flex-grow-1" ng-repeat="shift in item.MachineStats.ShiftStats">
                                        <hr class="my-1" />
                                        <h6>{{ shift.ShiftCode }} Vardiyası</h6>
                                        <p class="py-0 my-0">Ort Şişirme: <b>{{ getFixed(shift.AvgInflationTime,2) }}</b></p>
                                        <p class="py-0 my-0">Üretim: <b>{{ shift.AvgProductionCount }}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
@section scripts{
    <script>var PRM_ID = @(!string.IsNullOrEmpty(Request.QueryString["rid"]) ? Request.QueryString["rid"] : "0");</script>
    <script src="~/FrontEndLogic/MachineOnline/online.js"></script>
}