@{
    ViewBag.Title = "BAKIM TERMİNALİ";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div>
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post" ng-controller="mechCtrl">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <div class="row mt-0">
                <div class="col-sm-6 col-xxl-6">
                    <div class="col bg-danger border border-danger border-active text-center active px-6 py-8 rounded-2 mb-7 heka-mobile-link"
                         ng-click="redirect('PostureEntry')">
                        <!--begin::Svg Icon | path: icons/stockholm/Communication/Add-user.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-light d-block my-2">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M12 23C16.9706 23 21 18.9706 21 14C21 9.02944 16.9706 5 12 5C7.02944 5 3 9.02944 3 14C3 18.9706 7.02944 23 12 23Z" fill="#12131A" />
                                <path d="M11 10C11 9.44772 11.4477 9 12 9V9C12.5523 9 13 9.44772 13 10V14C13 14.5523 12.5523 15 12 15V15C11.4477 15 11 14.5523 11 14V10Z" fill="#12131A" />
                                <path d="M10 1C9.44772 1 9 1.44772 9 2C9 2.55228 9.44772 3 10 3H14C14.5523 3 15 2.55228 15 2C15 1.44772 14.5523 1 14 1H10Z" fill="#12131A" />
                                <path d="M20.7071 4.29289C20.3166 3.90237 19.6834 3.90237 19.2929 4.29289C18.9024 4.68342 18.9024 5.31658 19.2929 5.70711L20.2929 6.70711C20.6834 7.09763 21.3166 7.09763 21.7071 6.70711C22.0976 6.31658 22.0976 5.68342 21.7071 5.29289L20.7071 4.29289Z" fill="#12131A" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span href="#" class="text-dark fw-boldest fs-3">Duruş Girişi</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xxl-6">
                    <div class="col bg-warning border border-warning border-active text-center active px-6 py-8 rounded-2 mb-7 heka-mobile-link"
                         ng-click="redirect('FaultEntry')">
                        <!--begin::Svg Icon | path: icons/stockholm/Communication/Add-user.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-light d-block my-2">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle id="Oval-5" fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                <rect id="Rectangle-9" fill="#000000" x="11" y="7" width="2" height="8" rx="1"></rect>
                                <rect id="Rectangle-9-Copy" fill="#000000" x="11" y="16" width="2" height="2" rx="1"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span href="#" class="text-dark fw-boldest fs-3">Arıza Bildirimi</span>
                    </div>
                </div>

                <div class="col-sm-6 col-xxl-6">
                    <div class="col bg-light-danger border border-danger text-center border-active active px-6 py-8 rounded-2 mb-7 heka-mobile-link"
                         ng-click="redirect('OngoingPostures')">
                        <!--begin::Svg Icon | path: icons/stockholm/Communication/Add-user.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-danger d-block my-2">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z" id="Path-107" fill="#000000"></path>
                                <path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span href="#" class="text-dark fw-boldest fs-3">Devam Eden Duruşlar</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xxl-6">
                    <div class="col bg-light-warning border border-warning text-center border-active active px-6 py-8 rounded-2 mb-7 heka-mobile-link"
                         ng-click="redirect('OngoingFaults')">
                        <!--begin::Svg Icon | path: icons/stockholm/Communication/Add-user.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.9630156,7.5 L11.0475062,7.5 C11.3043819,7.5 11.5194647,7.69464724 11.5450248,7.95024814 L12,12.5 L15.2480695,14.3560397 C15.403857,14.4450611 15.5,14.6107328 15.5,14.7901613 L15.5,15 C15.5,15.2109164 15.3290185,15.3818979 15.1181021,15.3818979 C15.0841582,15.3818979 15.0503659,15.3773725 15.0176181,15.3684413 L10.3986612,14.1087258 C10.1672824,14.0456225 10.0132986,13.8271186 10.0316926,13.5879956 L10.4644883,7.96165175 C10.4845267,7.70115317 10.7017474,7.5 10.9630156,7.5 Z" id="Path-107" fill="#000000"></path>
                                <path d="M7.38979581,2.8349582 C8.65216735,2.29743306 10.0413491,2 11.5,2 C17.2989899,2 22,6.70101013 22,12.5 C22,18.2989899 17.2989899,23 11.5,23 C5.70101013,23 1,18.2989899 1,12.5 C1,11.5151324 1.13559454,10.5619345 1.38913364,9.65805651 L3.31481075,10.1982117 C3.10672013,10.940064 3,11.7119264 3,12.5 C3,17.1944204 6.80557963,21 11.5,21 C16.1944204,21 20,17.1944204 20,12.5 C20,7.80557963 16.1944204,4 11.5,4 C10.54876,4 9.62236069,4.15592757 8.74872191,4.45446326 L9.93948308,5.87355717 C10.0088058,5.95617272 10.0495583,6.05898805 10.05566,6.16666224 C10.0712834,6.4423623 9.86044965,6.67852665 9.5847496,6.69415008 L4.71777931,6.96995273 C4.66931162,6.97269931 4.62070229,6.96837279 4.57348157,6.95710938 C4.30487471,6.89303938 4.13906482,6.62335149 4.20313482,6.35474463 L5.33163823,1.62361064 C5.35654118,1.51920756 5.41437908,1.4255891 5.49660017,1.35659741 C5.7081375,1.17909652 6.0235153,1.2066885 6.2010162,1.41822583 L7.38979581,2.8349582 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span href="#" class="text-dark fw-boldest fs-3">Devam Eden Arızalar</span>
                    </div>
                </div>

                <div class="col-sm-6 col-xxl-6">
                    <div class="col bg-light-primary border border-primary text-center border-active active px-6 py-8 rounded-2 mb-7 heka-mobile-link"
                         ng-click="redirect('MachineEquipments')">
                        <!--begin::Svg Icon | path: icons/stockholm/Communication/Add-user.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-primary d-block my-2">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Stockholm-icons-/-General-/-Settings-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                    <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" id="Combined-Shape" fill="#000000"></path>
                                </g>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span href="#" class="text-dark fw-boldest fs-3">Makine Ekipmanları</span>
                    </div>
                </div>

                <div class="col-sm-6 col-xxl-6">
                    <div class="col bg-light-success border border-success text-center border-active active px-6 py-8 rounded-2 mb-7 heka-mobile-link"
                         ng-click="redirect('MaintenanceSchedule')">
                        <!--begin::Svg Icon | path: icons/stockholm/Communication/Add-user.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-success d-block my-2">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M6 3C6 2.44772 6.44772 2 7 2C7.55228 2 8 2.44772 8 3V4H16V3C16 2.44772 16.4477 2 17 2C17.5523 2 18 2.44772 18 3V4H19C20.6569 4 22 5.34315 22 7V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V7C2 5.34315 3.34315 4 5 4H6V3Z" fill="#191213" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 12C9.44772 12 9 12.4477 9 13C9 13.5523 9.44772 14 10 14H17C17.5523 14 18 13.5523 18 13C18 12.4477 17.5523 12 17 12H10ZM7 16C6.44772 16 6 16.4477 6 17C6 17.5523 6.44772 18 7 18H13C13.5523 18 14 17.5523 14 17C14 16.4477 13.5523 16 13 16H7Z" fill="#121319" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <span href="#" class="text-dark fw-boldest fs-3">Bakım Takvimi</span>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

@section scripts{
    <script src="~/Scripts/html5-qrcode.min.js"></script>
    <script type="text/javascript">
        app.controller('mechCtrl', function ($scope, $http) {
            $scope.redirect = function (targetLoc) {
                window.location.href = HOST_URL + 'Mobile/' + targetLoc;
            }

            $scope.readBarcode = function () {
                bootbox.alert({
                    message:'<div style="width: 500px" id="reader"></div>',
                    locale:'tr'
                });

                // TO REQUEST WEB CAM ACCESS
                Html5Qrcode.getCameras().then(devices => {
                    /**
                     * devices would be an array of objects of type:
                     * { id: "id", label: "label" }
                     */
                    if (devices && devices.length) {
                        var cameraId = devices[0].id;
                        // .. use this to start scanning.
                    }
                }).catch(err => {});

                // WEB CAM READER OBJECT
                let qrScanner = new Html5Qrcode(
                    "reader");

                qrScanner.start(
                    { facingMode: "environment" }, // prefers back, for the front camera use 'user'
                    {
                        fps: 10,    // sets the framerate to 10 frame per second
                        qrbox: 250  // sets only 250 X 250 region of viewfinder to
                        // scannable, rest shaded.
                    },
                    qrCodeMessage => {
                        console.log(`QR Code detected: ${qrCodeMessage}`);
                        qrScanner.stop();
                    },
                    errorMessage => {
                    })
                    .catch(err => {
                    });
            }
        });
    </script>
}