@using HekaMOLD.Enterprise.Helpers
@{
    ViewBag.Title = "Devam Eden Arızalar";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div>
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post" ng-controller="incidentListCtrl">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <div class="row py-3 mt-0 gx-xl-8 bg-white">
                <div ng-cloak ng-if="isMechanics" class="col-sm-2 col-xs-2 col-xxl-2">
                    <button class="btn btn-sm btn-block w-100 h-100 btn-primary"
                            ng-disabled="selectedIncident.Id == 0 || selectedIncident.IncidentStatus != 0"
                            ng-click="showIncidentCategoryList()">
                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1" style="margin:0 auto;">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Stockholm-icons-/-Home-/-Timer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                    <path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                                    <path d="M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z" id="Combined-Shape" fill="#000000"></path>
                                    <path d="M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z" id="Combined-Shape" fill="#000000"></path>
                                    <path d="M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" id="Path-107" fill="#000000"></path>
                                </g>
                            </svg>
                        </span>
                        <br />
                        <span style="display:block;margin-top:10px;" class="fw-bolder fs-3 text-light">Müdahaleye Başla</span>
                    </button>
                </div>
                <div ng-cloak ng-if="isMechanics" class="col-sm-2 col-xs-2 col-xxl-2">
                    <button class="btn btn-sm btn-block w-100 h-100 btn-success"
                            ng-disabled="selectedIncident.Id == 0 || selectedIncident.IncidentStatus != 1"
                            ng-click="finishIncident()">
                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1" style="margin:0 auto;">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Stockholm-icons-/-Navigation-/-Check" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "></path>
                                </g>
                            </svg>
                        </span>
                        <br />
                        <span style="display:block;margin-top:10px;" class="fw-bolder fs-3 text-light">Arızayı Tamamla</span>
                    </button>
                </div>
            </div>

            <!--begin::POSTURE TABLE-->
            <div class="row gy-5 mt-4 gx-xl-8 bg-white">
                <div class="col-xxl-12 col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-10 px-2"><b>Tarih</b></th>
                                <th class="w-10 px-2"><b>Makine</b></th>
                                <th class="w-40 px-2"><b>Türü</b></th>
                                <th class="w-10 px-2"><b>Durumu</b></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-scroller-md">
                        <table ng-cloak class="table table-bordered table-striped">
                            <tbody>
                                <tr ng-repeat="item in machineQueue" ng-click="selectIncident(item)"
                                    ng-class="{'bg-primary': selectedIncident.Id == item.Id}">
                                    <td class="w-10 px-2">{{item.CreatedDateStr}}</td>
                                    <td class="w-10 px-2">{{item.MachineCode}}</td>
                                    <td class="w-40 px-2">{{item.IncidentCategoryName}}</td>
                                    <td class="w-10 px-2">{{item.IncidentStatusStr}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--end::INCIDENT TABLE-->
        </div>
        <!--end::Container-->

        <div id="dial-categorylist" title="Arıza Türü Seç" style="display:none;">
            <ng-include src="'../Components/Views/IncidentCategorySelection.html'"></ng-include>
        </div>
    </div>
    <!--end::Post-->
</div>

@section scripts{
    <link href="~/Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <style type="text/css">
        .data-row.selected, .data-row-selected td {
            background-color: #0094ff !important;
        }
    </style>
    <script>
        var IS_PRODCHIEF = @(Html.IsGranted("IsProductionChief") ? "true" : "false");
        var IS_MECHANICS = @(Html.IsGranted("MobileMechanicUser") ? "true" : "false");
    </script>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/devextreme-localization/dx.messages.tr.js"></script>
    <script src="~/FrontEndLogic/Mobile/incident-list.js"></script>
    <script src="~/Components/Controllers/incident-category-selection.js"></script>
}