@using HekaMOLD.Enterprise.Helpers
@{
    ViewBag.Title = "Ürün Girişi";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div>
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post" ng-controller="productEntryCtrl">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::TOP FORM-->
            <div class="row gy-5 mt-0 gx-xl-8 bg-white">
                <div class="col-sm-8 col-xs-8 col-xxl-8">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 col-xxl-4">
                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Makine</label>
                            <!--begin::Input group-->
                            <div class="mb-5">
                                <input type="text" class="form-control" ng-cloak
                                       ng-model="selectedMachine.MachineName"
                                       readonly="readonly"
                                       placeholder="" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 col-xxl-4">
                            <div class="d-flex flex-row pb-1">
                                <button type="button" ng-cloak ng-click="showProductionHistory()"
                                        ng-bind="historyWorkOrderDetailId > 0 ? 'Aktif Üretime Geç' : 'Biten Üretimler'"
                                        class="btn py-2 btn-block flex-fill btn-sm btn-warning mx-1">
                                </button>
                                <button type="button" ng-cloak ng-if="activeDetails.length > 1" ng-click="showMultipleDetails()"
                                        class="btn py-2 btn-block flex-1 btn-sm btn-primary mx-1">
                                    Ürün Seç
                                </button>
                            </div>

                            <!--begin::Input group-->
                            <input type="text" ng-cloak class="form-control form-control-solid"
                                   ng-class="{'bg-light-danger': historyWorkOrderDetailId > 0}"
                                   value="{{ 'Sipariş: ' + activeWorkOrder.WorkOrder.ItemOrderDocumentNo + ', Levha: ' + activeWorkOrder.WorkOrder.ProductName }}" readonly="readonly" placeholder="" />

                            <div class="text-center py-2">
                                <img ng-if="activeWorkOrder.WorkOrder.SheetVisualStr != null && activeWorkOrder.WorkOrder.SheetVisualStr.length > 0"
                                     class="mx-auto"
                                     src="{{ 'data:image/png;base64,' + activeWorkOrder.WorkOrder.SheetVisualStr }}"
                                     height="100" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 col-xxl-4">
                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Levha Adedi</label>
                            <!--begin::Input group-->
                            <input type="text" ng-cloak class="form-control bg-light-primary"
                                   ng-model="activeWorkOrder.WorkOrder.Quantity" readonly="readonly" placeholder="" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 col-xs-2 col-xxl-2">
                    <a ng-if="modelObject.IsProdChief" ng-cloak class="btn btn-sm btn-block w-100 h-50 mt-14 btn-primary" style="padding-top:20px;" ng-click="showMachineList()">
                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1" style="margin:0 auto;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.25" d="M2 4C2 2.89543 2.89543 2 4 2H20C21.1046 2 22 2.89543 22 4V20C22 21.1046 21.1046 22 20 22H4C2.89543 22 2 21.1046 2 20V4Z" fill="#12131A" />
                                <path d="M6 5C5.44772 5 5 5.44772 5 6C5 6.55228 5.44771 7 6 7H16C16.5523 7 17 6.55228 17 6C17 5.44772 16.5523 5 16 5H6Z" fill="#12131A" />
                                <path d="M6 9C5.44772 9 5 9.44771 5 10C5 10.5523 5.44772 11 6 11H10C10.5523 11 11 10.5523 11 10C11 9.44771 10.5523 9 10 9H6Z" fill="#12131A" />
                                <path d="M6 13C5.44772 13 5 13.4477 5 14C5 14.5523 5.44772 15 6 15H18C18.5523 15 19 14.5523 19 14C19 13.4477 18.5523 13 18 13H6Z" fill="#12131A" />
                                <path d="M5 18C5 17.4477 5.44772 17 6 17H14C14.5523 17 15 17.4477 15 18C15 18.5523 14.5523 19 14 19H6C5.44772 19 5 18.5523 5 18Z" fill="#12131A" />
                            </svg>
                        </span>
                        <br />
                        <span style="display:block;margin-top:10px;">Makine Seç</span>
                    </a>
                </div>
                <div class="col-sm-2 col-xs-2 col-xxl-2">
                    <div class="d-flex flex-column">
                        <div>
                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Koli İçi Adet</label>
                            <!--begin::Input group-->
                            <div class="mb-2">
                                <input type="number" ng-cloak class="form-control"
                                       ng-model="activeWorkOrder.WorkOrder.InPackageQuantity" placeholder="" />
                            </div>
                        </div>
                        <a ng-hide="modelObject.Id > 0"
                           class="btn btn-sm btn-block w-100 h-30 mt-0 mb-2 btn-success" style="padding-top:10px;" ng-click="readBarcode()">
                            <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1" style="margin:0 auto;">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Stockholm-icons-/-Navigation-/-Check" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "></path>
                                    </g>
                                </svg>
                            </span>
                            <br />
                            <span style="display:block;margin-top:10px;">Giriş Yap</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--end::TOP FORM -->
            <!--begin::HISTORY TABLE-->
            <div class="row gy-5 mt-4 gx-xl-8 bg-transparent">
                <div class="col-xxl-8 col-sm-8 bg-white">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-20 px-2 text-center"><b>Barkod</b></th>
                                <th class="w-20 px-2 text-center"><b>Tarih</b></th>
                                <th class="w-20 px-2 text-center"><b>Saat</b></th>
                                <th class="w-20 px-2 text-center"><b>Ürün</b></th>
                                <th class="w-20 px-2 text-center"><b>Adet</b></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-scroller-md">
                        <table ng-cloak class="table table-bordered table-striped">
                            <tbody>
                                <tr ng-repeat="item in activeWorkOrder.Serials">
                                    <td class="w-20 px-2 text-center" ng-bind="item.SerialNo"></td>
                                    <td class="w-20 px-2 text-center" ng-bind="getDatePart(item.CreatedDateStr)"></td>
                                    <td class="w-20 px-2 text-center" ng-bind="getHourPart(item.CreatedDateStr)"></td>
                                    <td class="w-20 px-2 text-center" ng-bind="item.ItemName"></td>
                                    <td class="w-20 px-2 text-center">
                                        <span ng-bind="item.FirstQuantity"></span>
                                        <button class="btn btn-danger btn-sm py-1 px-2 fs-8" style="float:right;margin-left:5px;" ng-click="deleteSerial(item)">
                                            <i class="fas fa-trash mx-auto px-0"></i>
                                        </button>
                                        <button class="btn btn-warning btn-sm py-1 px-2 fs-8" style="float:right;" ng-click="printSerial(item)">
                                            <i class="fas fa-print mx-auto px-0"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xxl-4 col-sm-4 bg-light-primary">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-50 px-2 text-center"><b>Ürün</b></th>
                                <th class="w-20 px-2 text-center"><b>Görsel</b></th>
                                <th class="w-15 px-2 text-center"><b>Üretilen</b></th>
                                <th class="w-15 px-2 text-center"><b>Hedef</b></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-scroller-md">
                        <table ng-cloak class="table table-bordered table-striped">
                            <tbody>
                                <tr ng-repeat="item in activeWorkOrder.SheetUsages">
                                    <td class="w-50 px-2 text-center" ng-bind="item.PartName"></td>
                                    <td class="w-20 px-2 text-center">
                                        <img ng-if="item.PartVisualStr != null && item.PartVisualStr.length > 0"
                                             class="mx-auto"
                                             src="{{ 'data:image/png;base64,' + item.PartVisualStr }}"
                                             height="50" />
                                    </td>
                                    <td class="w-15 px-2 text-center" ng-bind="item.TotalQuantity"></td>
                                    <td class="w-15 px-2 text-center" ng-bind="item.Quantity"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--end::DETAIL TABLE-->
        </div>
        <!--end::Container-->

        <div id="dial-machinelist" title="Makine Seç" style="display:none;">
            <ng-include src="'../Components/Views/MachineSelection.html'"></ng-include>
        </div>

        <div id="dial-prodlist" title="Biten Üretimlerden Seç" style="display:none;">
            <ng-include src="'../Components/Views/ProductionHistoryList.html'"></ng-include>
        </div>

        <div id="dial-part-variants" title="Ürün Seç" style="display:none;">
            <ng-include src="'../Components/Views/ProductPartSelection.html?v=2'"></ng-include>
        </div>
    </div>
    <!--end::Post-->
</div>

@section scripts{
    <script>
        var IS_PRODCHIEF = @(Html.IsGranted("IsProductionChief") ? "true" : "false");
        var MACHINE_ID = @(Request.Cookies.AllKeys.Contains("MachineId") ? Request.Cookies["MachineId"].Value : "0");
        var MACHINE_NAME = '@(Request.Cookies.AllKeys.Contains("MachineName") ? Server.UrlDecode(Request.Cookies["MachineName"].Value) : "")';
    </script>
    <link href="~/Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/devextreme-localization/dx.messages.tr.js"></script>
    <script src="~/Scripts/html5-qrcode.min.js"></script>
    <script src="~/FrontEndLogic/Mobile/product-entry.js"></script>
    <script src="~/Components/Controllers/production-history-list.js?v=2"></script>
    <script src="~/Components/Controllers/machine-selection.js"></script>
    <script src="~/Components/Controllers/product-part-selection.js"></script>
}