@using HekaMOLD.Enterprise.Helpers
@{
    ViewBag.Title = "Duruş Bildirimi";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div>
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <div class="row gy-5 mt-0 gx-xl-8 bg-white">
                <!--begin::Col-->
                <div class="col-xxl-12">

                    <ng-include src="'../Components/Views/WarehouseManager.html'"></ng-include>

                </div>
                <!--end::Col-->
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

@section scripts{
    <script>
        var IS_PRODCHIEF = @(Html.IsGranted("IsProductionChief") ? "true" : "false");
        var IS_MECHANICS = @(Html.IsGranted("MobileMechanicUser") ? "true" : "false");
        var MACHINE_ID = @(Request.Cookies.AllKeys.Contains("MachineId") ? Request.Cookies["MachineId"].Value : "0");
        var MACHINE_NAME = '@(Request.Cookies.AllKeys.Contains("MachineName") ? Server.UrlDecode(Request.Cookies["MachineName"].Value) : "")';
    </script>
    <link href="~/Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <style type="text/css">
        .data-row.selected, .data-row-selected td {
            background-color: #0094ff !important;
        }
    </style>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/devextreme-localization/dx.messages.tr.js"></script>

    <script src="~/Components/Controllers/warehouse-manager.js"></script>
    <script src="~/FrontEndLogic/Warehouse/manage-items.js"></script>
}