<div ng-controller="editPlanCtrl">
    <div class="row mb-2">
        <div class="col-xxl-12 px-1 py-1">
            <div class="row">
                <div class="col-xxl-6 col-sm-6 col-md-6">
                    <div class="d-flex flex-row flex-wrap">
                        <p class="plan-label">Sipariş No:</p>
                        <p>{{modelObject.ItemOrderDocumentNo}}</p>
                    </div>
                </div>
                <div class="col-xxl-6 col-sm-6 col-md-6">
                    <div class="d-flex flex-row flex-wrap">
                        <p class="plan-label">Termin:</p>
                        <p>{{modelObject.OrderDeadline}}</p>
                    </div>
                    <div class="d-flex flex-row flex-wrap">
                        <button type="button" class="btn btn-danger btn-block w-100 py-2"
                                ng-click="rollbackPlan()">
                            <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3,13.5 L19,12 L3,10.5 L3,3.7732928 C3,3.70255344 3.01501031,3.63261921 3.04403925,3.56811047 C3.15735832,3.3162903 3.45336217,3.20401298 3.70518234,3.31733205 L21.9867539,11.5440392 C22.098181,11.5941815 22.1873901,11.6833905 22.2375323,11.7948177 C22.3508514,12.0466378 22.2385741,12.3426417 21.9867539,12.4559608 L3.70518234,20.6826679 C3.64067359,20.7116969 3.57073936,20.7267072 3.5,20.7267072 C3.22385763,20.7267072 3,20.5028496 3,20.2267072 L3,13.5 Z" id="Combined-Shape" fill="#000000"></path>
                                </svg>
                            </span>
                            Planı Sil
                        </button>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">İş Emri No:</p>
                <p>{{modelObject.WorkOrderNo}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Müşteri:</p>
                <p>{{modelObject.FirmName}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Ürün Kodu:</p>
                <p>{{modelObject.ProductCode}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Ürün Adı:</p>
                <p>{{modelObject.ProductName}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Kalıp:</p>
                <p>{{modelObject.MoldName}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <label class="form-label fs-6 fw-bolder text-gray-700 mb-3 me-4">Etiket Firma Adı</label>
                <!--begin::Input group-->
                <div class="ml-2 mb-5">
                    <input type="checkbox" class="form-check-input"
                           ng-model="modelObject.LabelConfigData.ShowFirm" placeholder="" />
                </div>
            </div>
        </div>

        <div class="col-xxl-3 col-sm-3 col-md-3 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Üretilen</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="number" class="form-control"
                       ng-model="modelObject.CompleteQuantity" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-3 col-sm-3 col-md-3 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Sipariş Miktar</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="number" class="form-control"
                       ng-model="modelObject.Quantity" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-3 col-sm-3 col-md-3 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Fire</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="number" class="form-control"
                       ng-model="modelObject.WastageQuantity" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-3 col-sm-3 col-md-3 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">&nbsp;</label>
            <button type="button" class="btn btn-primary btn-block w-100 py-2"
                    ng-click="printLabel()">
                <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.25" d="M2 11C2 9.89543 2.89543 9 4 9H20C21.1046 9 22 9.89543 22 11V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17V11Z" fill="#12131A" />
                        <path d="M7 16C7 15.4477 7.44772 15 8 15H16C16.5523 15 17 15.4477 17 16V20C17 21.1046 16.1046 22 15 22H9C7.89543 22 7 21.1046 7 20V16Z" fill="#12131A" />
                        <path d="M7 4C7 2.89543 7.89543 2 9 2H15C16.1046 2 17 2.89543 17 4V9H7V4Z" fill="#12131A" />
                    </svg>
                </span>
                Etiket Yazdır
            </button>
        </div>

        <div class="col-xxl-12 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Açıklama</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="text" class="form-control"
                       ng-model="modelObject.Explanation" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-4 col-sm-4 col-md-4 px-1 py-1">
            <button type="button" class="btn btn-warning btn-block w-100 py-2"
                    ng-click="holdPlan()">
                <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3,13.5 L19,12 L3,10.5 L3,3.7732928 C3,3.70255344 3.01501031,3.63261921 3.04403925,3.56811047 C3.15735832,3.3162903 3.45336217,3.20401298 3.70518234,3.31733205 L21.9867539,11.5440392 C22.098181,11.5941815 22.1873901,11.6833905 22.2375323,11.7948177 C22.3508514,12.0466378 22.2385741,12.3426417 21.9867539,12.4559608 L3.70518234,20.6826679 C3.64067359,20.7116969 3.57073936,20.7267072 3.5,20.7267072 C3.22385763,20.7267072 3,20.5028496 3,20.2267072 L3,13.5 Z" id="Combined-Shape" fill="#000000"></path>
                    </svg>
                </span>
                Beklemeye Al
            </button>
        </div>

        <div class="col-xxl-4 col-sm-4 col-md-4 px-1 py-1">
            <button type="button" class="btn btn-success btn-block w-100 py-2"
                    ng-click="completePlan()">
                <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3,13.5 L19,12 L3,10.5 L3,3.7732928 C3,3.70255344 3.01501031,3.63261921 3.04403925,3.56811047 C3.15735832,3.3162903 3.45336217,3.20401298 3.70518234,3.31733205 L21.9867539,11.5440392 C22.098181,11.5941815 22.1873901,11.6833905 22.2375323,11.7948177 C22.3508514,12.0466378 22.2385741,12.3426417 21.9867539,12.4559608 L3.70518234,20.6826679 C3.64067359,20.7116969 3.57073936,20.7267072 3.5,20.7267072 C3.22385763,20.7267072 3,20.5028496 3,20.2267072 L3,13.5 Z" id="Combined-Shape" fill="#000000"></path>
                    </svg>
                </span>
                İş Emrini Kapat
            </button>
        </div>

        <div class="col-xxl-4 col-sm-4 col-md-4 px-1 py-1">
            <button type="button" class="btn btn-primary btn-block w-100 py-2"
                    ng-click="save()">
                <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3,13.5 L19,12 L3,10.5 L3,3.7732928 C3,3.70255344 3.01501031,3.63261921 3.04403925,3.56811047 C3.15735832,3.3162903 3.45336217,3.20401298 3.70518234,3.31733205 L21.9867539,11.5440392 C22.098181,11.5941815 22.1873901,11.6833905 22.2375323,11.7948177 C22.3508514,12.0466378 22.2385741,12.3426417 21.9867539,12.4559608 L3.70518234,20.6826679 C3.64067359,20.7116969 3.57073936,20.7267072 3.5,20.7267072 C3.22385763,20.7267072 3,20.5028496 3,20.2267072 L3,13.5 Z" id="Combined-Shape" fill="#000000"></path>
                    </svg>
                </span>
                Kaydet
            </button>
        </div>
    </div>

    <div id="dial-print-options" title="Yazdırma Seçenekleri" style="display:none;">
        <ng-include src="'../Components/Views/PrintOptions.html'"></ng-include>
    </div>
</div>