<div ng-controller="editPlanCtrl">
    <div class="row mb-2">
        <div class="col-xxl-12 px-1 py-1">
            <div class="row">
                <div class="col-xxl-6">
                    <div class="d-flex flex-row flex-wrap">
                        <p class="plan-label">Sipariş No:</p>
                        <p>{{modelObject.ItemOrderDocumentNo}}</p>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="d-flex flex-row flex-wrap">
                        <p class="plan-label">Termin:</p>
                        <p>{{modelObject.OrderDeadline}}</p>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">İş Emri No:</p>
                <p>{{modelObject.WorkOrderNo}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Müşteri:</p>
                <p>{{modelObject.FirmName}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Ürün Kodu:</p>
                <p>{{modelObject.ProductCode}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Ürün Adı:</p>
                <p>{{modelObject.ProductName}}</p>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <p class="plan-label">Kalıp:</p>
                <p>{{modelObject.MoldName}}</p>
            </div>
        </div>

        <div class="col-xxl-6 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Üretilen</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="number" class="form-control"
                       ng-model="modelObject.CompleteQuantity" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-6 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Sipariş Miktar</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="number" class="form-control"
                       ng-model="modelObject.Quantity" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-12 px-1 py-1">
            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Açıklama</label>
            <!--begin::Input group-->
            <div class="mb-5">
                <input type="text" class="form-control"
                       ng-model="modelObject.Explanation" placeholder="" />
            </div>
        </div>

        <div class="col-xxl-6 px-1 py-1">
            <button type="button" class="btn btn-success btn-block w-100 py-2"
                    ng-click="completePlan()">
                <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3,13.5 L19,12 L3,10.5 L3,3.7732928 C3,3.70255344 3.01501031,3.63261921 3.04403925,3.56811047 C3.15735832,3.3162903 3.45336217,3.20401298 3.70518234,3.31733205 L21.9867539,11.5440392 C22.098181,11.5941815 22.1873901,11.6833905 22.2375323,11.7948177 C22.3508514,12.0466378 22.2385741,12.3426417 21.9867539,12.4559608 L3.70518234,20.6826679 C3.64067359,20.7116969 3.57073936,20.7267072 3.5,20.7267072 C3.22385763,20.7267072 3,20.5028496 3,20.2267072 L3,13.5 Z" id="Combined-Shape" fill="#000000"></path>
                    </svg>
                </span>
                İş Emrini Kapat
            </button>
        </div>

        <div class="col-xxl-6 px-1 py-1">
            <button type="button" class="btn btn-primary btn-block w-100 py-2"
                    ng-click="save()">
                <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3,13.5 L19,12 L3,10.5 L3,3.7732928 C3,3.70255344 3.01501031,3.63261921 3.04403925,3.56811047 C3.15735832,3.3162903 3.45336217,3.20401298 3.70518234,3.31733205 L21.9867539,11.5440392 C22.098181,11.5941815 22.1873901,11.6833905 22.2375323,11.7948177 C22.3508514,12.0466378 22.2385741,12.3426417 21.9867539,12.4559608 L3.70518234,20.6826679 C3.64067359,20.7116969 3.57073936,20.7267072 3.5,20.7267072 C3.22385763,20.7267072 3,20.5028496 3,20.2267072 L3,13.5 Z" id="Combined-Shape" fill="#000000"></path>
                    </svg>
                </span>
                Kaydet
            </button>
        </div>
    </div>
</div>