<div ng-controller="editVoyageCtrl">
    <div class="row mb-2">
        <div class="col-xxl-12 px-1 py-1">
            <div class="dx-viewport">
                <div id="WaitingLoadList"></div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse" style="padding:0px;">

            <button type="button" class="btn btn-primary py-2 mx-1 my-2" ng-click="transferSelections()">
                Seçilen Yükleri Aktar
            </button>
        </div>

    </div>

        <!--<div id="dial-print-options" title="Yazdırma Seçenekleri" style="display:none;">
        <ng-include src="'../Components/Views/PrintOptions.html'"></ng-include>
    </div>-->
    </div>
<style>
    .box {
        margin: 0px auto;
        background: #35baf6;
        width: 30px;
        height: 30px;
    }

        .box:hover {
            transform: rotate(360deg);
            background: #36b046;
            border-radius: 30%;
        }

    .rotate {
        transition: all 0.5s ease-in-out;
    }

        .rotate:hover {
            transition: all 1s ease-in-out;
        }
</style>