<div ng-controller="recipeRevisionsCtrl" class="bg-light">
    <h3 ng-show="recipeRevisionList.length == 0"
        class="text-center bg-dark text-light py-3">
        Bu ürün henüz hiçbir revizyon içermiyor.
    </h3>

    <div class="d-flex align-items-center mb-4 px-4 py-4" 
         ng-repeat="item in recipeRevisionList">
        <!--begin::Bullet-->
        <span class="bullet bullet-vertical h-40px bg-success"></span>
        <!--end::Bullet-->

        <!--begin::Description-->
        <div class="flex-grow-1 px-3">
            <a href="javascript:;" ng-click="goToRevision(item.Id)"
               class="text-gray-800 text-hover-primary fw-bolder fs-6">
                Reçete No: {{item.ProductRecipeCode}}
            </a>
            <span class="text-muted fw-bold d-block">{{item.CreatedDateStr}}</span>
        </div>
        <!--end::Description-->
    </div>
</div>