@{
    ViewBag.Title = "Soför Maliyet Tanımlamarı";
}

<div ng-controller="driverAccountCtrl">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                 class="d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                    @ViewBag.Title
                </h1>

                <!-- Progress enabled state -->
                <button type="button" class="btn btn-sm btn-dark mx-2" ng-show="saveStatus==1" data-kt-indicator="on">
                    <span class="indicator-label">
                        Submit
                    </span>
                    <span class="indicator-progress">
                        Lütfen bekleyiniz... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">
                <!--begin::Wrapper-->
                <div class="me-4">
                    <a href="@Url.Action("List","DriverAccount")" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder">
                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.25" d="M2 4C2 2.89543 2.89543 2 4 2H20C21.1046 2 22 2.89543 22 4V20C22 21.1046 21.1046 22 20 22H4C2.89543 22 2 21.1046 2 20V4Z" fill="#12131A" />
                                <path d="M6 5C5.44772 5 5 5.44772 5 6C5 6.55228 5.44771 7 6 7H16C16.5523 7 17 6.55228 17 6C17 5.44772 16.5523 5 16 5H6Z" fill="#12131A" />
                                <path d="M6 9C5.44772 9 5 9.44771 5 10C5 10.5523 5.44772 11 6 11H10C10.5523 11 11 10.5523 11 10C11 9.44771 10.5523 9 10 9H6Z" fill="#12131A" />
                                <path d="M6 13C5.44772 13 5 13.4477 5 14C5 14.5523 5.44772 15 6 15H18C18.5523 15 19 14.5523 19 14C19 13.4477 18.5523 13 18 13H6Z" fill="#12131A" />
                                <path d="M5 18C5 17.4477 5.44772 17 6 17H14C14.5523 17 15 17.4477 15 18C15 18.5523 14.5523 19 14 19H6C5.44772 19 5 18.5523 5 18Z" fill="#12131A" />
                            </svg>
                        </span>
                        Liste
                    </a>

                    <!--begin::Separator-->
                    <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                    <!--end::Separator-->
                    <!--begin::Button-->
                    <a class="btn btn-sm btn-primary" ng-click="saveModel()">
                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Stockholm-icons-/-General-/-Save" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
                                    <rect id="Rectangle-16" fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5"></rect>
                                </g>
                            </svg>
                        </span>
                        Kaydet
                    </a>
                    <!--end::Button-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Row-->
            <div class="row gy-5 gx-xl-8 bg-white">
                <!--begin::Col-->
                <div class="row gx-xl-8 bg-white">
                    <div class="card mt-2 gy-2">
                        <div class="card-header min-h-10px px-1">
                            <button type="button" class="btn btn-sm btn-flex btn-primary fw-bolder"
                                    style="float:right;">

                                Şoför Hesap Bilgileri
                            </button>
                        </div>
                        <div class="card-body p-0" @*style="height:200px;*@>
                            <div class="row gy-5 gx-xl-8 bg-white mt-1">
                                <div class="col-xxl-4">
                                    <div class="mb-3">
                                        <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Şoför</label>
                                        <!--begin::Input group-->
                                        <input type="text" class="form-control form-control-solid" readonly ng-model="modelObject.DriverNameAndSurName" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xxl-4">
                                    <div class="mb-3">
                                        <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Hesap Tutar</label>
                                        <!--begin::Input group-->
                                        <input type="number" class="form-control form-control-solid" readonly ng-model="modelObject.Balance" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-xxl-4">
                                    <div class="mb-3">
                                        <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Döviz Kodu</label>
                                        <!--begin::Input group-->
                                        <input type="text" class="form-control form-control-solid" readonly ng-model="modelObject.ForexTypeCode" placeholder="" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!--end::Col-->

                <div class="row gx-xl-8 bg-white">
                    <div class="card mt-2 gy-2">
                        <div class="card-header min-h-10px px-1 bold">
                            Hesap Detayları
                        </div>
                        <div class="card-body p-0" @*style="height:200px;*@>
                            <div class="dx-viewport">
                                <div id="driverAccountDetailList"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
@section scripts{
    <script>var PRM_ID = @(!string.IsNullOrEmpty(Request.QueryString["rid"]) ? Request.QueryString["rid"] : "0");</script>
    <link href="~/Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/devextreme-localization/dx.messages.tr.js"></script>
    <script src="~/FrontEndLogic/DriverAccount/index.js"></script>
}
