@{
    ViewBag.Title = "Üretim Planlama";
}

<div ng-controller="workOrderPlanningCtrl" ng-cloak>
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                 class="d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3 me-5">
                    @ViewBag.Title
                </h1>

                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div class="bg-warning p-1 fs-9">Aktif Üretim</div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="bg-primary p-1 fs-9">Başlanmamış Üretim</div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="bg-success p-1 fs-9">Tamamlanmış Üretim</div>
                    </div>
                </div>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">
                <button class="btn btn-sm btn-success mx-2" ng-click="showTrialForm()">
                    Deneme Üretimi Oluştur
                </button>

                <a class="btn btn-sm btn-primary" href="@Url.Action("PrintTemplate", "Planning")">
                    Planlama Çizelgesi
                </a>
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid dx-viewport">
            <!--begin::Row-->
            <div class="row gy-5 gx-xl-8">
                <!--begin::Col-->
                <div class="col-xxl-12">

                    <div class="d-flex flex-row flex-fill">
                        <div class="d-flex flex-column flex-fill">
                            <div class="flex-row">
                                <div class="mr-1">
                                    <div id="machineSelection"></div>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-fill mt-2 py-0">
                                <div class="d-flex flex-column flex-fill machine-box mr-1 mt-0 border-top-0 border-right-0 alert-secondary"
                                     style="border: 1px solid #009EF7;"
                                     ng-class="{'bg-light-primary': selectedSource.Id == machine.Id}"
                                     ng-click="selectSource(machine.Id)"
                                     ng-cloak
                                     data-id="{{machine.Id}}"
                                     ng-repeat="machine in selectedMachineList">
                                    <h5 ng-cloak ng-bind="machine.MachineCode"></h5>
                                    <h5 ng-cloak ng-if="machine.IsInIncident"
                                        class="text-center bg-danger text-light mt-0  px-2 py-2 border-1 border-dark">
                                        BAKIMDA
                                    </h5>
                                    <div class="d-flex flex-column overflow-auto" style="max-height:400px;">
                                        @* GET ACTIVE PLANS OF MACHINE *@
                                        <div class="plan-box" draggable="true"
                                             ng-dblclick="showProductInfo(plan.Id)"
                                             data-plan-id="{{plan.Id}}"
                                             ng-click="selectPlan(plan)"
                                             ng-class="{'plan-box-cancelled': plan.WorkOrder.WorkOrderStatus == 6,
                                                'plan-box-completed': plan.WorkOrder.WorkOrderStatus == 4,
                                                'plan-box-progress': plan.WorkOrder.WorkOrderStatus == 3,
                                                'plan-selected': plan.Id == selectedPlan.Id}"
                                             ng-repeat="plan in getMachinePlans(machine, true)">
                                            <button class="btn btn-primary btn-sm btn-plan-details px-1 py-1"
                                                    ng-click="showPlanDetails(plan, $event.currentTarget)">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                            <p ng-cloak>{{plan.WorkOrder.WorkOrderDateStr}}&nbsp;</p>
                                            <p><span ng-cloak class="plan-firm-name">{{plan.WorkOrder.FirmName}}</span>&nbsp;</p>
                                            <p><b ng-cloak>{{showProperProductName(plan.WorkOrder)}}</b>&nbsp;</p>
                                            <p ng-cloak>
                                                {{plan.WorkOrder.CompleteQuantity}} /
                                                {{plan.WorkOrder.Quantity}}
                                            </p>
                                            <p ng-cloak ng-class="{'label-wastage-count-danger': plan.WorkOrder.WastageQuantity > 0,
                                               'label-wastage-count': plan.WorkOrder.WastageQuantity == 0}">
                                                Fire: {{ plan.WorkOrder.WastageQuantity }}
                                            </p>
                                            <p ng-cloak ng-if="plan.WorkOrder.WorkOrderType == 2" class="bg-dark text-light py-1">
                                                DENEME ÜRETİMİ
                                            </p>
                                        </div>

                                        @* GET COMPLETED PLANS OF MACHINE *@
                                        <div class="plan-box" draggable="true"
                                             data-plan-id="{{plan.Id}}"
                                             ng-cloak
                                             ng-click="selectPlan(plan)"
                                             ng-class="{'plan-box-cancelled': plan.WorkOrder.WorkOrderStatus == 6,
                                                    'plan-box-completed': plan.WorkOrder.WorkOrderStatus == 4,
                                                    'plan-box-progress': plan.WorkOrder.WorkOrderStatus == 3,
                                                    'plan-selected': plan.Id == selectedPlan.Id}"
                                             ng-repeat="plan in getMachinePlans(machine, false)">
                                            <button class="btn btn-primary btn-sm btn-plan-details px-1 py-1"
                                                    ng-click="showPlanDetails(plan, $event.currentTarget)">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                            <p ng-cloak>{{plan.WorkOrder.WorkOrderDateStr}}&nbsp;</p>
                                            <p ng-cloak>{{plan.WorkOrder.FirmName}}&nbsp;</p>
                                            <p><b ng-cloak>{{showProperProductName(plan.WorkOrder)}}</b>&nbsp;</p>
                                            <p ng-cloak>
                                                {{plan.WorkOrder.CompleteQuantity}} /
                                                {{plan.WorkOrder.Quantity}}
                                            </p>
                                            <p ng-cloak ng-class="{'label-wastage-count-danger': plan.WorkOrder.WastageQuantity > 0,
                                               'label-wastage-count': plan.WorkOrder.WastageQuantity == 0}">
                                                Fire: {{ plan.WorkOrder.WastageQuantity }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-35" ng-class="{'collapsed-panel': waitingPlansVisible == false}">
                            <div class="card" ng-class="{'collapsed-body': !waitingPlansVisible}">
                                <div class="card-header min-h-10px px-1">
                                    @*<span ng-show="waitingPlansVisible" class="mx-auto">Bekleyen İş Emirleri</span>*@
                                    <button type="button" class="btn btn-sm btn-flex btn-dark fw-bolder"
                                            ng-click="toggleWaitingPlans()"
                                            style="float:right;">
                                        <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.25" d="M2 4C2 2.89543 2.89543 2 4 2H20C21.1046 2 22 2.89543 22 4V20C22 21.1046 21.1046 22 20 22H4C2.89543 22 2 21.1046 2 20V4Z" fill="#12131A" />
                                                <path d="M6 5C5.44772 5 5 5.44772 5 6C5 6.55228 5.44771 7 6 7H16C16.5523 7 17 6.55228 17 6C17 5.44772 16.5523 5 16 5H6Z" fill="#12131A" />
                                                <path d="M6 9C5.44772 9 5 9.44771 5 10C5 10.5523 5.44772 11 6 11H10C10.5523 11 11 10.5523 11 10C11 9.44771 10.5523 9 10 9H6Z" fill="#12131A" />
                                                <path d="M6 13C5.44772 13 5 13.4477 5 14C5 14.5523 5.44772 15 6 15H18C18.5523 15 19 14.5523 19 14C19 13.4477 18.5523 13 18 13H6Z" fill="#12131A" />
                                                <path d="M5 18C5 17.4477 5.44772 17 6 17H14C14.5523 17 15 17.4477 15 18C15 18.5523 14.5523 19 14 19H6C5.44772 19 5 18.5523 5 18Z" fill="#12131A" />
                                            </svg>
                                        </span>
                                        {{ waitingPlansVisible ? 'Gizle':'Siparişler' }}
                                    </button>
                                </div>
                                <div class="card-body p-0" style="height:500px;">
                                    <div class="" ng-show="waitingPlansVisible">
                                        <div id="waitingPlanList"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->

    <div id="dial-copy-plan" title="İş Emri Kopyalama" style="display:none;">
        <ng-include src="'../Components/Views/PlanningWorkCopy.html'"></ng-include>
    </div>

    <div id="dial-plan" title="İş Emri Düzenleme" style="display:none;">
        <ng-include src="'../Components/Views/EditPlan.html'"></ng-include>
    </div>

    <div id="dial-trial" title="Deneme Üretimi" style="display:none;">
        <ng-include src="'../Components/Views/TrialWorkForm.html'"></ng-include>
    </div>
</div>

@section scripts{
    <link href="~/Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/devextreme-localization/dx.messages.tr.js"></script>

    <link href="~/Content/planning.css" rel="stylesheet" />
    <script src="~/FrontEndLogic/Planning/planning.js"></script>
    <script src="~/Components/Controllers/planning-work-copy.js"></script>
    <script src="~/Components/Controllers/print-options.js"></script>
    <script src="~/Components/Controllers/edit-plan.js"></script>
    <script src="~/Components/Controllers/trial-work-form.js"></script>
}