@{
    ViewBag.Title = "Üretim Planlama Çizelgesi";
}

<div ng-controller="printTemplateCtrl">
    <!--begin::Toolbar-->
    <div class="toolbar no-print" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                 class="d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                    @ViewBag.Title
                </h1>
                <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">
                <div class="row mt-4">
                    <div class="col-sm-4 col-md-4 col-xxl-4">
                        <button type="button" class="btn btn-primary btn-sm btn-block w-100 h-75" ng-click="goPrev()">
                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Stockholm-icons-/-Media-/-Backward" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                    <path d="M11.0879549,18.2771971 L17.8286578,12.3976203 C18.0367595,12.2161036 18.0583109,11.9002555 17.8767943,11.6921539 C17.8622027,11.6754252 17.8465132,11.6596867 17.8298301,11.6450431 L11.0891271,5.72838979 C10.8815919,5.54622572 10.5656782,5.56679309 10.3835141,5.7743283 C10.3034433,5.86555116 10.2592899,5.98278612 10.2592899,6.10416552 L10.2592899,17.9003957 C10.2592899,18.1765381 10.4831475,18.4003957 10.7592899,18.4003957 C10.8801329,18.4003957 10.9968872,18.3566309 11.0879549,18.2771971 Z" id="Path-10" fill="#000000" opacity="0.3" transform="translate(14.129645, 12.002277) scale(-1, 1) translate(-14.129645, -12.002277) "></path>
                                    <path d="M5.08795487,18.2771971 L11.8286578,12.3976203 C12.0367595,12.2161036 12.0583109,11.9002555 11.8767943,11.6921539 C11.8622027,11.6754252 11.8465132,11.6596867 11.8298301,11.6450431 L5.08912711,5.72838979 C4.8815919,5.54622572 4.56567821,5.56679309 4.38351414,5.7743283 C4.30344325,5.86555116 4.25928988,5.98278612 4.25928988,6.10416552 L4.25928988,17.9003957 C4.25928988,18.1765381 4.48314751,18.4003957 4.75928988,18.4003957 C4.88013293,18.4003957 4.99688719,18.3566309 5.08795487,18.2771971 Z" id="Path-10-Copy" fill="#000000" transform="translate(8.129645, 12.002277) scale(-1, 1) translate(-8.129645, -12.002277) "></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xxl-4 text-center">
                        <!--begin::Input group-->
                        <div class="mb-5 text-center">
                            <input type="text" class="form-control datepicker py-1" ng-change="onDateChanged()"
                                   ng-model="selectedDate" placeholder="Tarih" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xxl-4">
                        <button type="button" class="btn btn-primary btn-sm btn-block w-100 h-75" ng-click="goNext()">
                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Stockholm-icons-/-Media-/-Forward" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                    <path d="M6.82866499,18.2771971 L13.5693679,12.3976203 C13.7774696,12.2161036 13.7990211,11.9002555 13.6175044,11.6921539 C13.6029128,11.6754252 13.5872233,11.6596867 13.5705402,11.6450431 L6.82983723,5.72838979 C6.62230202,5.54622572 6.30638833,5.56679309 6.12422426,5.7743283 C6.04415337,5.86555116 6,5.98278612 6,6.10416552 L6,17.9003957 C6,18.1765381 6.22385763,18.4003957 6.5,18.4003957 C6.62084305,18.4003957 6.73759731,18.3566309 6.82866499,18.2771971 Z" id="Path-10" fill="#000000" opacity="0.3"></path>
                                    <path d="M12.828665,18.2771971 L19.5693679,12.3976203 C19.7774696,12.2161036 19.7990211,11.9002555 19.6175044,11.6921539 C19.6029128,11.6754252 19.5872233,11.6596867 19.5705402,11.6450431 L12.8298372,5.72838979 C12.622302,5.54622572 12.3063883,5.56679309 12.1242243,5.7743283 C12.0441534,5.86555116 12,5.98278612 12,6.10416552 L12,17.9003957 C12,18.1765381 12.2238576,18.4003957 12.5,18.4003957 C12.6208431,18.4003957 12.7375973,18.3566309 12.828665,18.2771971 Z" id="Path-10-Copy" fill="#000000"></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary mx-4" ng-click="printPlanning()">
                    Yazdır
                </button>
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">
            <!--begin::Row-->
            <div class="row gy-5 gx-xl-8">
                <div class="col-xxl-12">
                    <h5 class="text-center my-0" style="border: 1px solid black;border-bottom:0px;">@string.Format("{0:yyyy}", DateTime.Now) HAFTALIK ÜRETİM PLANI</h5>
                    <h5 class="text-center my-0" style="border: 1px solid black;">
                            @System.Globalization.CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(DateTime.Now,
    System.Globalization.CalendarWeekRule.FirstDay, DayOfWeek.Monday) . HAFTA PLANLANAN ÜRETİM
                    </h5>

                    <table border="1" class="planning-table table table-responsive">
                        <thead>
                            <tr>
                                <th>MAKİNE ADI</th>
                                <th class="w-200px">ÜRÜN ADI</th>
                                <th>SİPARİŞ (Ad.)</th>
                                <th>PAZARTESİ</th>
                                <th>SALI</th>
                                <th>ÇARŞAMBA</th>
                                <th>PERŞEMBE</th>
                                <th>CUMA</th>
                                <th>HEDEF ÜRETİM</th>
                                <th>ÜRETİLEN</th>
                                <th>KALAN</th>
                                <th>NOT</th>
                                <th>DEVAM EDECEK OLAN ÜRETİM</th>
                                <th>SİPARİŞ (Ad.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in machineList">
                                <td style="font-size:small;">{{item.MachineName}}</td>
                                <td class="py-0">
                                    <p class="py-0 my-0" style="font-size:x-small;" ng-repeat="plan in getMachinePlans(item)">
                                        {{plan.WorkOrder.ProductName}}
                                    </p>
                                </td>
                                <td>
                                    {{getMachineTotalPlanned(item)}}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td> <!-- HEDEF ÜRETİM -->
                                <td>{{getMachineTotalComplete(item)}}</td> <!-- ÜRETİLEN ADET -->
                                <td>{{getMachineTotalPlanned(item) - getMachineTotalComplete(item)}}</td> <!-- KALAN ADET -->
                                <td>
                                    <p class="py-1 my-0" ng-repeat="plan in getMachinePlans(item)">
                                        {{plan.WorkOrder.Explanation}}
                                    </p>
                                </td> <!-- NOT -->
                                <td>
                                    <p class="py-0 my-0" style="font-size:x-small;" ng-repeat="plan in getFuturePlans(item)">
                                        {{plan.WorkOrder.ProductName}}
                                    </p>    
                                </td> <!-- DEVAM EDECEK OLAN ÜRETİM -->
                                <td>{{getFutureTotalPlanned(item)}}</td> <!-- DEVAM EDECEK SİP AD. -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                @* GÜNLÜK ÇALIŞAN BİLGİLERİ *@
                <div class="col-xxl-3">
                    <table border="1" class="planning-table table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th style="color:black;font-weight:bold;" ng-bind="selectedDate"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td contenteditable="true">GÜNDÜZ ÜRETİM ÇALIŞAN: </td>
                            </tr>
                            <tr>
                                <td contenteditable="true">GECE ÜRETİM ÇALIŞAN: </td>
                            </tr>
                            <tr>
                                <td contenteditable="true">SABİT GÜNDÜZ: </td>
                            </tr>
                            <tr>
                                <td contenteditable="true">İDARİ PERSONEL: </td>
                            </tr>
                            <tr>
                                <td contenteditable="true" style="font-weight:bold;">TOPLAM: </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @* ALT ORTA BÖLÜM *@
                <div class="col-xxl-4"></div>

                @* MAKİNE DURUŞ VE FİRE BİLGİLERİ *@
                <div class="col-xxl-5">
                    <table border="1" class="planning-table table table-responsive table-bordered">
                        <tbody>
                            <tr ng-repeat="item in machineList">
                                <td class="w-125px">
                                    {{item.MachineName}}
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

@section scripts{
    <link href="~/Content/dx.material.blue.light.compact.css" rel="stylesheet" />
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/devextreme-localization/dx.messages.tr.js"></script>

    <style type="text/css">
        .planning-table th {
            color: red;
            border: 1px solid black !important;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
        }
        .planning-table td {
            border: 1px solid black;
            text-align: center;
            vertical-align: middle;
        }
    </style>

    <link href="~/Content/planning.css" rel="stylesheet" />
    <script src="~/FrontEndLogic/Planning/print-template.js"></script>
}